.App {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  flex-direction: column;
}

body {
  margin: 0%;
  padding: 0%;
  /* background-image: url('https://i.pinimg.com/originals/9d/67/7a/9d677a1268197ba5c95c5ce4141d58c1.png');
  background-size: inherit; */
}

.TitleSection {
  /* background-image: url('https://i.redd.it/tk2u1acwk3f61.gif');
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #dbe6f1;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3897df;
}

.TitleSection input {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #3897df;
  font-size: 18px;
  padding-left: 10px;
}

.TitleSection button {
  width: 180px;
  height: 60px;
  margin: 20px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
  border: none;
  color: white;
  background-color: #2584cc;
}

.TitleSection button:hover {
  cursor: pointer;
}

.DisplaySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://scontent.xx.fbcdn.net/v/t1.15752-9/404631036_3124742967820532_3314235581352780179_n.jpg?stp=dst-jpg_p403x403&_nc_cat=104&ccb=1-7&_nc_sid=510075&_nc_ohc=_6JwoSwqyMEAX9cURoc&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdQgohJNfm4zOEkyEFknyWBEsD8ESDPBNuSUHuEnQsqCKg&oe=65DAC5C2');
  background-size: cover;
  height: 800px; /* Set a fixed height */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the height */
  background-position: center;
  background-position: bottom;
}

/* Other styles remain unchanged */

.DisplaySection h2 {
  margin: 5px;
}

.DisplaySection h3 {
  margin-top: 10px;
}

.DisplaySection h4 {
  margin: 5px;
}

.DisplaySection img {
  height: 25%;
  min-height: 100px;
  max-height: 200px;
  margin-bottom: 40px;
}